<header>

  <h1>Project Where's Waldo?</h1>

  <div class='column timer'>
    Time: 0
  </div>

  <div class='column'>
    <%= link_to 'New Game', games_path, method: :post %>
  </div>

</header>

<section data-game-id='<%= @game.id %>'>

  <div class='game-wrapper'>
    <%= image_tag "background.jpg", class: 'game-image' %>
  </div>

</section>